@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f7f7;
}
header {
  background-color: #41414c;
  display: flex;
  align-items: center;
  height: 88px;
}

.div-pg-3 {
  width: 100%;
  margin: 0 auto;
  max-width: 1220px;
  position: relative;
}

.seta {
}
.titulo-1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  color: #bfbfcc;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

main {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  gap: 127px;
  width: 100%;
  margin: 0 auto;
  max-width: 1220px;
}

.container-1 {
  width: 100%;
}
.dado {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #5a5a66;
}
hr {
  margin: 20px 0px;
  color: #f6f7f7;
  width: 600px;
}
.job {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  color: #787880;
  margin-bottom: 16px;
}
.item-maior {
  width: 600px;
  height: 50px;
  border: solid 1px #e1e3e5;
  border-radius: 5px;
}
.bloco-2 {
  display: flex;
  gap: 22px;
}
.bl-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.prf {
  color: #787880;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  margin: 20px 0px;
}
.item-link {
  padding: 16px;
  color: #5a5a66;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.bl-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-2 {
  display: flex;
  flex-direction: column;
  border: solid 2px #e1e3e5;
  padding: 40px 54px;
  align-items: center;
}
.dolar-1 {
  width: 102px;
  margin: 16px 50px;
}
.pd-1 {
  color: #5a5a66;
  font-family: sans-serif;
  font-weight: 200;
}
.pd-2 {
  color: #5a5a66;
  font-family: sans-serif;
  font-weight: 200;
  margin-left: 22px;
}
.sv-bt {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 40px -8px;
}
.btn-salvar {
  color: #ffff;
  background-color: #36b236;
  padding: 12px 48px 12px 48px;
  width: 200px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  border: none;
}
